*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* landing page */
.header {
    padding: 160px 0 80px;
}
  
section {
    padding: 150px 0;
}


.landing-page{
  background-image: url("../images/code-sign-2048x1152.jpg");
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#header .header-content {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .header-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .header-content p {
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color:  rgb(15, 15, 15);
    font-weight: 500;
  }
  
  .header-content .list-social li {
    float: left;
    margin-right: 20px;
  }
  
  .header-content .list-social li i {
    color:  rgb(15, 15, 15);
    font-size: 15px;
  }


.logo{
    color:white;
    font-size: 20px;
    padding: 20px;
}

.logo >span{
    color: orange;
}

.logo:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* about */
.about{
  padding-top: 20px;
}
.cont{
  letter-spacing: 0.8px;
  line-height: 25px;
}

.about-bit{
  padding-left: 20%;
}

/* skills */
.skills{
  padding-top: 20px;
}
